#####################################################################
#       Macros
#####################################################################
[gcode_macro PRINT_START]
gcode:
    {% set bed_temp = params.BED|default(110)|float %}
    {% set extruder_temp = params.EXTRUDER|default(245)|float %}
    {% set z_adjust = params.Z_ADJUST|default(0.0)|float %}
    {% set retract = 10 %}
    BED_MESH_CLEAR                 ; clear mesh
    G28                            ; Home the printer
    G90                            ; Use absolute coordinates
    M125                           ; Move to center
    M117 Heating..
    M140 S{bed_temp}               ; Start bed heating
    M190 S{bed_temp}               ; Wait for bed to reach temperature
    M109 S{extruder_temp}          ; Set and wait for nozzle to reach temperature
    QUAD_GANTRY_LEVEL              ; QGL
    M109 S{extruder_temp}          ; Set and wait for nozzle to reach temperature
    clean_nozzle                   ; clean nozzle
    CALIBRATE_Z                    ; calibrate Z offset
    BED_MESH_PROFILE LOAD=hot      ; load mesh
    M117 Intro Line..
    G90                            ; Use absolute coordinates
    G1 Y0 X30 Z5 F12000            ; Move the nozzle to the front and near the bed
    G1 Z0.7 F300                   ; Move the nozzle very close to the bed
    G92 E0.0                       ; set extruder posion to 0
    G1 E{retract} F3600            ; extrude retract
    G92 E0.0                       ; set extruder posion to 0
    G1 X80 E15.0 F500.0            ; intro line
    G92 E0.0                       ; set extruder posion to 0
    G1 X94 F6000                   ; move away from intro line
    M117   

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    M125
    BED_MESH_CLEAR

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
default_parameter_X: 225    #edit to your park position
default_parameter_Y: 300    #edit to your park position
default_parameter_Z: 10     #edit to your park position
default_parameter_E: 1      #edit to your retract length
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
default_parameter_E: 1      #edit to your retract length
gcode:
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

# prime the nozzle 
[gcode_macro PRIME_LINE]
gcode: 
    M117 Prime Line
    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000 ;Move Z Axis up
    G1 X20 Y30 Z0.28 F5000.0 ;Move to start position
    G1 X20 Y200.0 Z0.28 F1500.0 E15 ;Draw the first line
    G1 X22 Y200.0 Z0.28 F5000.0 ;Move to side a little
    G1 X22 Y50 Z0.28 F1500.0 E30 ;Draw the second line
    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000 ;Move Z Axis up

# Park toolhead
[gcode_macro M125]
gcode:
    SAVE_GCODE_STATE NAME=parking
    M117 Parking toolhead
    G91
    G1 Z5 F600 # move up 5 mm
    G90
    G1 X185 Y300 F4000 # move to park position
    RESTORE_GCODE_STATE NAME=parking

[gcode_macro PARKCENTER]
gcode:
    {% set Z = params.Z|default(30)|float %}
    SAVE_GCODE_STATE NAME=PARKCENTER_state
    G28
    G90                            ; absolute positioning
    G0 X150 Y150 Z{Z} F12000       ; move to center
    RESTORE_GCODE_STATE NAME=PARKCENTER_state

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28

[gcode_macro G29]
gcode:
    G32
    BED_MESH_CALIBRATE
