#####################################################################
#  Macros
#####################################################################
[gcode_macro _USER_VARIABLES]
variable_verbose: True

# Speed control of the machine for all the macros
variable_travel_speed: 350
variable_z_drop_speed: 32

gcode:

[gcode_macro PRINT_START]
gcode:
    # Set vars
    {% set bed_temp = params.BED|default(100)|float %}
    {% set extruder_temp = params.EXTRUDER|default(220)|float %}
    {% set FL_SIZE = params.SIZE|default("0_0_0_0")|string %}

    _USER_VARIABLES
    {% set St = printer["gcode_macro _USER_VARIABLES"].travel_speed * 60 %}

    {% set max_x = printer.toolhead.axis_maximum.x|float %}
    {% set max_y = printer.toolhead.axis_maximum.y|float %}
    SET_GCODE_OFFSET Z=0 MOVE=1
    SET_FAN_SPEED FAN=chamber_fan SPEED=1
    CLEAR_PAUSE
    BED_MESH_CLEAR                    ; clear mesh
    G28
    G90                               ; Use absolute coordinates
    G0 X{max_x|int / 2} Y{max_y|int / 3} Z50 F{St}
    M117 Heating..
    STATUS_HEATING
    M140 S{bed_temp}                  ; Start bed heating
    M190 S{bed_temp}                  ; Wait for bed to reach temperature
    M109 S{extruder_temp}             ; Set and wait for nozzle to reach temperature
    G32
    M109 S{extruder_temp}             ; Set and wait for nozzle to reach temperature
    STATUS_CLEANING
    CLEAN_NOZZLE                      ; clean nozzle
    STATUS_CALIBRATING_Z
    CALIBRATE_Z
    STATUS_MESHING
    ADAPTIVE_BED_MESH SIZE={FL_SIZE}
    STATUS_PRINTING
    PRIME_LINE
    M117

[gcode_macro PRINT_START_MMU]
gcode:
    # Set vars
    {% set bed_temp = params.BED|default(100)|float %}
    {% set extruder_temp = params.EXTRUDER|default(220)|float %}
    {% set FL_SIZE = params.SIZE|default("0_0_0_0")|string %}

    _USER_VARIABLES
    {% set St = printer["gcode_macro _USER_VARIABLES"].travel_speed * 60 %}

    {% set max_x = printer.toolhead.axis_maximum.x|float %}
    {% set max_y = printer.toolhead.axis_maximum.y|float %}
    SET_GCODE_OFFSET Z=0 MOVE=1
    SET_FAN_SPEED FAN=chamber_fan SPEED=1
    CLEAR_PAUSE
    BED_MESH_CLEAR                    ; clear mesh
    G28
    G90                               ; Use absolute coordinates
    G0 X{max_x|int / 2} Y{max_y|int / 3} Z50 F{St}
    M117 Heating..
    STATUS_HEATING
    M140 S{bed_temp}                  ; Start bed heating
    M190 S{bed_temp}                  ; Wait for bed to reach temperature
    M109 S{extruder_temp}             ; Set and wait for nozzle to reach temperature
    G32
    M109 S{extruder_temp}             ; Set and wait for nozzle to reach temperature
    _ERCF_CHANGE_TOOL_STANDALONE_TOOL={initial_extruder}
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
    STATUS_CLEANING
    CLEAN_NOZZLE                      ; clean nozzle
    STATUS_CALIBRATING_Z
    CALIBRATE_Z
    STATUS_MESHING
    ADAPTIVE_BED_MESH SIZE={FL_SIZE}
    STATUS_PRINTING
    PRIME_LINE
    M117

[gcode_macro PRIME_LINE]
gcode:
    # Set vars
    {% set St = printer["gcode_macro _USER_VARIABLES"].travel_speed * 60 %}
    {% set Sz = printer["gcode_macro _USER_VARIABLES"].z_drop_speed * 60 %}

    G90
    M83
    G92 E0.0
    G1 Z5 F{Sz}

    ; Starting position
    G1 X2.5 Y20 F{St}
    G1 Z0.3 F{Sz|int / 2}

    ; Add pressure in the nozzle
    G92 E0
    G0 E18 F300

    ; Prime line
    G92 E0
    G1 Y100 E10 F2500
    G92 E0
    G1 Y150 E5 F1500

    ; Retract and Z-hop
    G92 E0
    G1 Z2.0 E-0.1 F{Sz}
    G92 E0
    G1 Z5 F{Sz}

[gcode_macro PRINT_END]
description: Stop the print and filter the atmosphere for 10min before shuting down
gcode:
    M400
    PARK E=10
    TURN_OFF_HEATERS
    M107
    BED_MESH_CLEAR
    M84
    STATUS_READY

[gcode_macro PRINT_END_MMU]
description: Stop the print and filter the atmosphere for 10min before shuting down
gcode:
    M400
    PARK E=10
    {% if unload|int == 1%}
      UNLOAD_AT_END=1
    {% endif %}
    TURN_OFF_HEATERS
    M107
    BED_MESH_CLEAR
    M84
    STATUS_READY

[gcode_macro PARK]
description: Park the toolhead at the back and retract some filament if the nozzle is hot
gcode:
    {% set E = params.E|default(1.7)|float %}

    {% set x_park = printer.toolhead.axis_minimum.x|float + 150.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 30.0 %}
    {% set max_z = printer.toolhead.axis_maximum.z|float %}

    {% set St = printer["gcode_macro _USER_VARIABLES"].travel_speed * 60 %}
    {% set Sz = printer["gcode_macro _USER_VARIABLES"].z_drop_speed * 60 %}

    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 50.0) %}
        {% set z_safe = 50.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}

    {% if printer.extruder.temperature > 185 %}
        G1 E-{E} F2100
    {% endif %}

    G91    
    G1 Z{z_safe} F{Sz}
    G90
    G0 X{x_park} Y{y_park} F{St}

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    STATUS_HOMING
    G28
    STATUS_LEVELING
    QUAD_GANTRY_LEVEL
    STATUS_HOMING
    G28
    STATUS_READY

[gcode_macro G29]
gcode:
    G32
    STATUS_MESHING
    BED_MESH_CALIBRATE
    STATUS_READY

# load filament
[gcode_macro LOAD_FIL]
gcode:
    SAVE_GCODE_STATE NAME=loading_filament
    M117 Loading Filament
    M83
    G92 E0.0
    G1 E50 F200
    G1 E50 F100
    G92 E0.0
    M117
    RESTORE_GCODE_STATE NAME=loading_filament

# unload filament
[gcode_macro UNLOAD_FIL]
gcode:
    SAVE_GCODE_STATE NAME=unloading_filament
    M117 Unloading Filament
    G91 # set relative
    G92 E0.0
    G1 E-100 F200
    G92 E0.0
    M117
    RESTORE_GCODE_STATE NAME=unloading_filament
