#[include test_probe_accuracy.cfg]

##################
### MAIN FILES ###
##################
[include config/printer.cfg]
[include config/board_pins/board_pins.cfg]
[include config/variables.cfg]

###########################
### HARDWARE COMPONENTS ###
###########################
[include config/hardware/*.cfg]

###########################
### SOFTWARE COMPONENTS ###
###########################
[include config/software/bed_mesh.cfg]
[include config/software/firmware_rectraction.cfg]
[include config/software/input_shaper.cfg]
[include config/software/qgl.cfg]
[include config/software/Adaptive_Mesh.cfg]
[include config/software/Adaptive_Purge.cfg]

#####################
### MACROS FOLDER ###
#####################
[include macros/print_base/*.cfg]
[include macros/probing/*.cfg]
[include macros/helpers/*.cfg]
[include macros/calibration/*.cfg]
[include macros/miscs/*.cfg]

###############
### SCRIPTS ###
###############
[include scripts/*.cfg]

[safe_z_home]
home_xy_position: 150, 150 # update for your machine
z_hop: 3

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.008917, 0.011803, 0.006603, 0.005375
#*# 	-0.003631, -0.008663, -0.006389, -0.008204
#*# 	0.000000, -0.010438, -0.006119, -0.008741
#*# 	0.009880, 0.006181, 0.006469, 0.011799
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 132.097
#*# max_x = 217.903
#*# min_y = 132.097
#*# max_y = 217.903
#*#
#*# [beacon model default]
#*# model_coef = 1.522130490427528,
#*# 	  1.7146543529958063,
#*# 	  0.5120110618272802,
#*# 	  0.051911891780870176,
#*# 	  0.6400255131235819,
#*# 	  1.707401656247552,
#*# 	  -0.16055294949816395,
#*# 	  -1.8181086659530463,
#*# 	  0.08575123086337866,
#*# 	  0.7448256512191029
#*# model_domain = 3.096355226720297e-07,3.3154352584608754e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 25.426156
#*# model_offset = 0.00000
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 47.016
#*# pid_ki = 4.822
#*# pid_kd = 114.602
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 56.0
#*# shaper_type_y = zv
#*# shaper_freq_y = 36.4
